/* header开始 */

.left {
    float: left;
}

.logo {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.header-service {
    height: 60px;
    width: 600px;
}

.header-service ul li {
    float: left;
    height: 60px;
    margin-left: 20px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 20px;
}

.header-login {
    height: 60px;
    width: 200px;
    /* background-color: pink; */
}

.header-login ul li {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 20px;
}


/* header结束 */


/* footer开始 */

.footer {
    width: 100%;
    background-color: rgb(27, 28, 29);
    position: absolute;
    bottom: 0;
}

.footer-desc {
    width: 300px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}


/* footer结束 */