/* header开始 */

.left {
    float: left;
}


/* 导航栏布局 */

.logo {
    width: 60px;
    height: 55px;
}

.header-title h3 {
    display: inline-block;
    font-size: 20px;
}

.timeshow {
    width: 250px;
    height: 60px;
    line-height: 65px;
    font-size: 14px;
}


/* 导航栏布局结束 */

.header-login {
    height: 60px;
    width: 200px;
}

.header-login ul li {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 20px;
}


/* header结束 */


/* footer开始 */

.footer {
    width: 100%;
    background-color: rgb(27, 28, 29);
}

.footer-desc {
    width: 300px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
}


/* footer结束 */